@media screen and (max-width: 768px) {
    .Card-image {
        width: 230px;
        height: 142px;
    }
}

.Card-image {
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .Card-image {
        width: 280px;
        height: 170px;
    }
}
