.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 425px;
    background: #fff;
    z-index: 999;
    color: #000;
    padding: 30px 30px 32px;
    z-index: 100;
}

.modal-inner {
    display: flex;
}

.modal-content {
    position: relative;
}

.modal-image {
    width: 330px;
    height: 205px;
}

.left-side {
    max-width: 330px;
    margin-right: 15px;
}

.modal-cross {
    position: absolute;
    right: 0;
    top: calc(-25px / 2);
    width: 25px;
    height: 25px;
    opacity: 0.3;
    cursor: pointer;
    background: transparent;
}

.modal-cross:hover {
    opacity: 1;
}
.modal-cross:before,
.modal-cross:after {
    position: absolute;
    left: 11px;
    content: ' ';
    height: 25px;
    width: 2px;
    background-color: #333;
}
.modal-cross:before {
    transform: rotate(45deg);
}
.modal-cross:after {
    transform: rotate(-45deg);
}

.modal-background {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

@media screen and (max-width: 320px) {
    .modal {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .modal-cross {
        margin: 20px;
    }

    .modal-inner {
        flex-direction: column;
    }

    .modal-image {
        height: 100%;
    }

    .right-side,
    .left-side {
        margin: 0 20px;
    }

    .modal-inner .left-side {
        margin: 0;
    }

    .right-side {
        margin-top: 25px;
    }
}
