* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    font-family: Roboto, sans-serif;
    text-align: center;
    padding: 15px 20px;
    min-height: 100vh;
    position: relative;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-title {
    font-size: 36px;
    font-weight: normal;
    text-align: center;
}

.App-content {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px 20px;
}

.App-footer {
    position: absolute;
    bottom: 15px;
    width: calc(100% - 40px);
    border-top: 1px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.App-footer-title {
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    color: #ccc;
}

.comment-date,
.comment {
    font-size: 13px;
    line-height: 15px;
}

.comment-date {
    text-align: left;
    color: #999999;
    padding-top: 2px;
}

.comment-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.comment {
    margin-top: 5px;
    color: #000;
}

@media screen and (max-width: 320px) {
    .App-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .App-footer {
        position: relative;
        margin-top: 100px;
        width: auto;
        bottom: 0;
    }

    .comment {
        text-align: left;
    }
}
